.header {
  background: #B9929F;
}

.header h1 {
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3.5rem;
}

.header h2 {
  text-align: center;
  color:  black;
  font-size: 2rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
}
